@font-face {
  font-family: 'CyberpunkWaifus';
  src: url('CyberpunkWaifus.eot');
  src: url('CyberpunkWaifus.eot?#iefix') format('embedded-opentype'),
       url('CyberpunkWaifus.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


